<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>公安厅</title>
  <script type="text/javascript" charset="utf-8" src="plugin/jsurl.js"></script>
  <script type="text/javascript" charset="utf-8" src="plugin/main.js"></script>
  <link rel="stylesheet" type="text/css" href="iconfont/iconfont.css">
  <link rel="stylesheet" type="text/css" href="plugin/jquery.mCustomScrollbar.css">
  <!-- <script type="text/javascript" src="plugin/server.env.js"></script> -->
  <script type="text/javascript" src="plugin/dragscroll.js"></script>
  <script type="text/javascript" charset="utf-8" src="plugin/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="plugin/jquery.mCustomScrollbar.min.js"></script>
</head>
<body>
  <div id="root"></div>
</body>
</html>
